.shrubs{
    text-align: center;
}
body{
    background-color: #474747;
}

#one{
    color: gray;
}
#two{
    color:white;

}
#three{
    color: #adadad;
}
h1{
    text-align: center;
}
#menu{
    height: 50px;
    background-color: rgb(46, 45, 45);
    margin-bottom: 20px;
}