#cont{
    width: 100%;
    height:500px;
    display:flex;
    border-style: solid;
    justify-content: center;
    overflow: hidden;
}
#c1{
    background-color: red;
    width: 25%;
}
#c2{
    background-color: blue;
    width: 25%;
}
#c3{
    background-color: green;
    width: 25%;
}
#c4{
    background-color: yellow;
    width: 25%;
}
#c1, #c2, #c3, #c4{
    transition: all 0.1s ease-in-out;
}
#c1:hover, #c2:hover, #c3:hover, #c4:hover{
    /*translate: 100px 20px;*/
    transform: scalex(2);
    
    
}
#c1:hover p, #c2:hover p, #c3:hover p, #c4:hover p{
    transform: scalex(.5);
    color:white
}