#box{
    height:500px;
    width:500px;
    display:flex;
}
#colors{
    width:25%;
    height:500px;
    background-color: aquamarine;
    border-color: black;
    border-style: solid;
    
}
h1{
    font-size:50px;
    text-align: center;
}
table{
    border: 25px;
    border-width: 25px;
    border-style: solid;
}