.shrubs{
    text-align: center;
}
body{
    background-color: #F2F2F2;
    overflow-y: scroll;
    padding-bottom: 6000px
}
span{
    font-size: 40px;
    margin: 0;
    align-items: center;
}
a{
   display: inline-block 
}
 input[type="button"]{
    background-color:  rgb(255, 255, 255); 
    border: none; 
    color: rgb(0, 0, 0); 
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 16px;
    border-radius: 6px; 
    cursor: pointer; 
    transition-duration: 0.3s; 
}

p{
    background-color: thistle;
}
#colors{
    background-color: seagreen;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
#box:hover{
    background-color: rgb(102, 102, 102);  

    /*background-image: linear-gradient(to bottom, rgb(68, 68, 68), rgb(90, 90, 90));*/
    box-shadow: 0 8px 16px 0 rgb(51, 51, 51);
}
input:hover {
    background-color: rgb(233, 233, 233);  
    /*background-image: linear-gradient(to bottom, rgb(68, 68, 68), rgb(90, 90, 90));*/
    box-shadow: 0 8px 16px 0 rgb(51, 51, 51);
}
#buttons{
    display: block;
    float: right;
}

#header{
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between; /* push children to edges */
    align-items: center;   
}
/*#header::after {
  content: "";
  display: table;
  clear: both;
}*/
span{
    animation-name: g1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#div{
    font-size: 35px;
}

#G{
    color: #D1D1D1;
    
}

#R{
    color: #B3B3B3;
}

#A{
    color: #999999;
    
}

#Y{
    color: #777777; 

}

#S{
    color: #555555;
}

#C{
    color: #3A3A3A;
    
}

#a{
    color: #333333;
}

#L{
    color: #343434;
}

#search{
    background-color: tomato;
    display: inline-flex;
    width: 100%;
    height: 75px;
    align-items: center;
    flex-wrap: wrap;
    
}
#csearch{
    height: 80%;
    width: 90%;
    margin-right: auto;
    border: none;
    
}

img{
    width: 4%;
    background-color: royalblue;
    margin-left: auto;
}
#spaces{
    display: none;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: lightgreen;
}
#menu{
    margin-right: auto;
    background-color: red;
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: g1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


@keyframes g1{
    0%   {color: #D1D1D1;}
    12.5%  {color: #B3B3B3;}
    25%  {color: #999999}
    50% {color: #777777;}
    62.5%   {color: #555555;}
    75%  {color: #3A3A3A;}
    87.5%  {color: #333333;}
    100% {color: #000000;}
}
#cont{
    width: 100%;
    height:500px;
    display:flex;
    border-style: solid;
    justify-content: center;
    
}
#box{
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    flex: 0 0 21%;
    height: 150px;  
    background-color: rgb(158, 158, 158);
    margin: 2%;
    align-items: center;
    justify-content: center;
    
}
#box div{
    height: 100%;
}
#c1{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: red;
    width: 25%;
}
#c2{
    background-color: blue;
    width: 25%;
}
#c3{
    background-color: green;
    width: 25%;
}
#c4{
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: yellow;
    width: 25%;
}
#c1, #c2, #c3, #c4{
    flex:1;
    transition: flex 0.3s ease, transform 0.3s ease;
}
#c1:hover, #c2:hover, #c3:hover, #c4:hover{
    /*translate: 100px 20px;*/
    flex:2;

}