.shrubs{
    text-align: center;
}
body{
    background-color: #F2F2F2;
    overflow-y: scroll;
    padding-bottom: 6000px
}
span{
    font-size: 40px;
    margin: 0;
    align-items: center;
}
a{
   display: inline-block 
}
 input[type="button"]{
    background-color:  rgb(255, 255, 255); 
    border: none; 
    color: rgb(0, 0, 0); 
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 16px;
    border-radius: 6px; 
    cursor: pointer; 
    transition-duration: 0.3s; 
}
#box{
    display: inline-block;
    border-radius: 10px;
    width: 300px;
    height: 150px;  
    background-color: rgb(158, 158, 158);
    margin: 2%;
}
#colors{
    text-align: center;
}
#box:hover{
    background-color: rgb(102, 102, 102);  
    /*background-image: linear-gradient(to bottom, rgb(68, 68, 68), rgb(90, 90, 90));*/
    box-shadow: 0 8px 16px 0 rgb(51, 51, 51);
}
input:hover {
    background-color: rgb(255, 255, 255);  
    /*background-image: linear-gradient(to bottom, rgb(68, 68, 68), rgb(90, 90, 90));*/
    box-shadow: 0 8px 16px 0 rgb(51, 51, 51);
}
#buttons{
    display: block;
    float: right;
}

#header{
    background-color:rgb(255, 255, 255) ;
    display: flex;
    justify-content: space-between; /* push children to edges */
    align-items: center;   
}
/*#header::after {
  content: "";
  display: table;
  clear: both;
}*/
#div{
    font-size: 35px;
}
#menu{
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    height: 80%;
    

}
#G{
    color: #D1D1D1;
    
}

#R{
    color: #B3B3B3;
}

#A{
    color: #999999;
    
}

#Y{
    color: #777777; 

}

#S{
    color: #555555;
}

#C{
    color: #3A3A3A;
    
}

#a{
    color: #333333;
}

#L{
    color: #343434;
}
#E{

}
#search{
    
}
#csearch{
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    float:right;
    border: none;
    
}
#csearch::hover {
  content: "Read this: ";
  background-color: #5f5f5f;
}
#isearch{
    width: 4%;

}