<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/css/gray.css">
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #A9A9A9;">
    <div id = "cont">
        <div id="c1">1</div>
        <div id="c2">2</div>
        <div id="c3">3</div>
        <div id="c4">4</div>
    </div>
</body>
</html>