<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Grayscale Website</title>
</head>
<body>
    <div id = "header">
        <div id = "logo">
            <span id="G">G</span>
            <span id="R">r</span>
            <span id="A">a</span>
            <span id="Y">y</span>
            <span id="S">s</span>
            <span id="C">c</span>
            <span id="a">a</span>
            <span id="L">l</span>
            <span id="E">e</span>
        </div>


        <div id="buttons">
            <a href="{{ url_for('LightGray') }}">
                <input type = "button" value = "Light Gray" >
            </a>
            <a href="{{ url_for('Gray') }}">
            <input type = "button" value = "Gray" >
            </a>
            <a href="{{ url_for('DarkGray') }}">
                <input type = "button" value = "Dark Gray" >
            </a>
            <a href="{{ url_for('DarkerGray') }}">
                <input type = button value = "Darker Gray" >
            </a>
            <a href="{{ url_for('DarkestGray') }}">
                <input type = "button" value = "Darkest Gray" >
            </a>

        </div>


    </div>

    <div id = "search">
        <input type="search" id="csearch">
        <img src = "{{ url_for('static', filename='images/yup.png') }}">
    </div>

    <div id = "colors">
        <div id = "box">
            
        </div>
        <div id = "box"></div>
        <div id = "box"></div>
        <div id = "box"></div>
        <div id = "box"></div>
        <div id = "box"></div>
        <div id = "box"></div>
        <div id = "box"></div>
        <div id = "box"></div>
    </div>




</body>
</html>