<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/para.css">
    <title>Document</title>
</head>
<body style="background-color: #D3D3D3;">
    <div id="box">
       <img src="{{ url_for('static', filename='images/yup.png') }}" alt="">
       <img src="{{ url_for('static', filename='images/avocado-square.webp') }}" alt="">
       <img src="{{ url_for('static', filename='images/glass.png') }}" alt="">
    </div>
    <h1> My Bucket List </h1>
    <p>
        The duality of an avocado by Miles Hannah. Avocados are great but they are expensive and its insane. Avocados are so useful, they have ability to make avocado toast or guacamole staples of the food industry. These round green fruits are filled with vitamins, minerals and are shown to lower blood pressure lowering risk of heart disease.
        Furthermore avocados are an extremely tasty food that everyone who is cool enjoys. People who dont enjoy avocados usually are allergic to them or dont eat vegetables. Frankly avocados are the best thing since sliced bread and always will be.
    </p>
    <ul style = "display:inline-block">
        <li>Make 1 friend</li>
        <li>Make 2 friend</li>
        <li>Make 3 friend</li>
        <li>Make 4 friend</li>
        <li>Make 5 friend</li>
    </ul> 
    <table style = "display:inline-block; border-width:15px" >
        <tr>
            <th>Friends</th>
            <th>Enemies</th>
            <th>Sean</th>
        </tr>
        <tr>
            <td>Will</td>
            <td>Alex</td>
            <td>Sean</td>
        </tr>
        <tr>
            <td>Noah</td>
            <td>Amir</td>
            <td>Sean</td>
        </tr>
    </table>
    
</body>
</html>