<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Grayscale Website</title>
</head>
<body>

    <div id = "div">
        <span id="G">G</span>
        <span id="R">r</span>
        <span id="A">a</span>
        <span id="Y">y</span>
        <span id="S">s</span>
        <span id="C">c</span>
        <span id="a">a</span>
        <span id="L">l</span>
        <span id="E">e</span>
    </div>

    <div id = "menu">
        <a href="{{ url_for('LightGray') }}">
            <input type = "button" value = "Light Gray" >
        </a>
        <a href="{{ url_for('Gray') }}">
        <input type = "button" value = "Gray" >
        </a>
        <a href="{{ url_for('DarkGray') }}">
            <input type = "button" value = "Dark Gray" >
        </a>
        <a href="{{ url_for('DarkerGray') }}">
            <input type = button value = "Darker Gray" >
        </a>
        <a href="{{ url_for('DarkestGray') }}">
            <input type = "button" value = "Darkest Gray" >
        </a>


    </div>

    <div class = "shrubs">
        <a href = "https://en.wikipedia.org/wiki/Shrub"><img src = "{{ url_for('static', filename='images/shrub.jpg') }}" ></a>
        <img src = "{{ url_for('static', filename='images/yshrub.jpg') }}" >
        <img src = "{{ url_for('static', filename='images/pshrub.jpg') }}" >
        <img src = "{{ url_for('static', filename='images/SBOP.jpeg') }}" >
    </div>

    <abbr title="This is a website about grayscale shrubs!">What is this website about?</abbr>
    <input type =  "input" placeholder="Type here..." list = "colors">
    <datalist id = "colors">
        <option value="Gray">
        <option value="Black">
        <option value="White">
    </datalist>
    <dialog open=""><p>Wow</p></dialog>
    <details>
        <summary>
            How Old is this website?
        </summary>
        45 years old.
        <p>1</p>
        <p>2</p>
        <p>33</p>
        <p>3</p>
    </details>
    <ruby>
        Grayscale
        <rt>Gray·scale</rt>
    </ruby>
    <progress max = "100" ></progress>
    <meter min="0" max="100" value="70">70%</meter>
</body>
</html>